apiVersion: apps/v1
kind: Deployment
metadata:
  name: enterprise-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: enterprise-app
  template:
    metadata:
      labels:
        app: enterprise-app
    spec:
      containers:
        - name: app
          image: enterprise-app:latest
          ports:
            - containerPort: 8080
          securityContext:
            privileged: true
            runasUser: 0