apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: app
        image: nginx:latest
        securityContext: {}
        resources:
          limits:
            cpu: 250m
            memory: 256Mi
      securityContext:
        runAsNonRoot: false
