apiVersion: v1
kind: Service
metadata:
  name: demo-svc
spec:
  type: NodePort              # INTENTIONAL exposure
  selector:
    app: demo
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
